# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: torchmind/circleci-openjdk:9-jdk-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "pom.xml" }}
          - v1-dependencies-
      - run: mvn clean install
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
      - store_test_results:
          path: pipeline/target/surefire-reports
      - run: |
          mkdir /tmp/artifacts/
          mkdir /tmp/artifacts/pipeline/
          cp pipeline/target/org.basinmc.blackwater.pipeline-*.jar /tmp/artifacts/pipeline/
          cp -r pipeline/target/apidocs/ /tmp/artifacts/pipeline/
          cp -r pipeline/target/surefire-reports/ /tmp/artifacts/pipeline/
          mkdir /tmp/artifacts/artifacts-maven/
          cp pipeline/target/org.basinmc.blackwater.artifacts.maven-*.jar /tmp/artifacts/artifacts-maven/
          cp -r artifacts-maven/target/apidocs/ /tmp/artifacts/artifacts-maven/
          mkdir /tmp/artifacts/tasks-git/
          cp tasks-git/target/org.basinmc.blackwater.tasks.git-*.jar /tmp/artifacts/tasks-git/
          cp -r tasks-git/target/apidocs/ /tmp/artifacts/tasks-git/
          cp -r tasks-git/target/surefire-reports/ /tmp/artifacts/tasks-git/
      - store_artifacts:
          path: /tmp/artifacts/
          destination: /
